@import url('https://fonts.cdnfonts.com/css/jura');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --blue: #315FA4;
    --lightblue: #94EAFC;
    --charcoal: #36454F;
    --ashgray: #B2BEB5;
}

h1, h2, h3 {
    font-family: 'Jura', sans-serif;
}

.bold {
    font-weight: 600;
    color: var(--charcoal);
}

.italic {
    font-style: italic;
    color: var(--charcoal);
}

body {
    min-height: 100vh;
    font-family: 'Barlow', sans-serif;
}

a {
    text-decoration: none;
}

/* HEADER */

header {
    display: flex;
    background-color: black;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    padding: 1rem;
}

.science-museum-logo {
    height: 2.5rem;
}

/* DROPDOWN MENU */

.drop-btn {
    background-color: black;
    color: white;
    padding: 1.2rem 3rem;
    font-size: 2rem;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 125px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
}

.dropdown-content a {
    color: white;
    padding: 1rem;
    padding-right: 0;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--blue);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .drop-btn {
    background-color: black;
} 

/* HERO */

.hero-img {
    display: flex;
    object-fit: cover;
    width: 100%;
    height: 50vh;
    z-index: 1;
}

.hero {
    height: 100%;
    width: 100%;
}

/* LIGHTNING ANIMATION */

.lightning-effect {
    display: flex;
    height: 50%;
    width: 100%;
    z-index: 2;
    position: absolute;
    /* animation-name: lightning;
    animation-duration: 1s;
    animation-timing-function: revert;
    animation-iteration-count: infinite; */
    transition: all 2000ms ease-out;
    transition: 1s, 1s, 1000ms ease-in-out;
}

.lightning-effect:hover {
    background-color: #315FA4;
    opacity: 0.5;
    transition: all 2000ms ease-out;
    transition: 1s, 1s, 1000ms ease-in-out;
}

@keyframes lightning {
    from { 
        opacity: 0;
    }
    to {
        opacity: 0.5;
    }
}

/* MAIN */

.hero-text {
    padding: 1rem;
}

.hero-text p {
    padding-top: 1rem;
}

.blue-btn {
    background-color: var(--blue);
    color: white;
    font-family: 'Jura', sans-serif;
    border: none;
    padding: 0.7rem;
    font-size: 1.3rem;
    border-radius: 6px;
    margin-top: 1rem;
    cursor: pointer;
}

.blue-btn:hover {
    background-color: var(--ashgray);
    color: var(--charcoal);
}

.article {
    margin-top: 1rem;
}

.article-img {
    width: 100%;
    height: 40%;
}

.article-text {
    padding: 1rem;
}

.article-text p {
    padding-top: 1rem;
}

/* EVENTS */

.event-box {
    background-color: var(--ashgray);
    width: 100%;
    height: 40%;
    padding: 1rem;
    margin-bottom: 1rem;
}

.event-img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

.event-box h2, p, h3 {
    padding-top: 1rem;
}

.event-info {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: flex-end;
}

.event-icon {
    color: var(--blue);
    padding-right: 1rem;
}

.event-info-box ul {
    list-style-type: none;
    line-height: 1.5rem;
}

.event-btn:hover {
    background-color: white;
}

/* FOOTER */

footer {
display: flex;
flex-direction: row;
background-color: black;
color: white;
margin-top: 3rem;
}

footer a {
    color: white;
    text-decoration: none;
}

.socials {
    padding: 2rem;
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
}

/* Medium */
@media (min-width: 768px) {

    .hero-img {
        object-fit: cover;
        width: 100%;
        height: 50vh;
    }


}

/* Large */
@media (min-width: 1024px) {

}
